<template name="footer">
    <footer>
        <ul>
            <li class="footerItems"><a class="col-xs-4 col-sm-2 col-md-2" href="#" target="_blank">Emploi</a></li>
            <li class="footerItems"><a class="col-xs-4 col-sm-2 col-md-2" href="#" target="_blank">Marches</a></li>
            <li class="footerItems"><a class="col-xs-4 col-sm-2 col-md-2" href="#" target="_blank">Sugestions</a>
            </li>
            <li class="footerItems"><a class="col-xs-6 col-sm-2 col-md-2" href="#" target="_blank">Mentions
                légales</a>
            </li>
            <li class="footerItems"><p class="ol-xs-6 col-sm-4 col-md-4">&copy; 2015</p></li>
        </ul>
    </footer>
</template>